server:
  port: 8083

spring:
  application:
    name: demo-rest-postgres
  
  datasource:
    url: jdbc:postgresql://localhost:5432/pressin_db
    username: postgres
    password: Siham
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
     
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true 



